streamlit
pandas
numpy
qdrant-client

# FREE EMBEDDINGS
sentence-transformers
torch
transformers

# PAID CHAT MODELS
langchain-openai
langchain-google-genai
langchain-core

# Utilities
langchain-text-splitters
accelerate
